/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(49, 49, 49);
}

h1 {
    font-size: 15rem;
    font-family: Montserrat;
}


.letter{
    transition: color 1000ms;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(16, 67, 119);

}

header {    
    background: white;
    padding: 20px;    
}
header > h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Black Ops One";
    transition: color 1000ms;
}

.score-board {
    margin: 30px auto;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 48px;
    padding: 20px 20px;
    font-family: "Luckiest Guy";
    position: relative;
}

.badge {
    background-color: rgb(210, 106, 85);
    color: white;
    font-size: 14px;
    padding: 4px 10px;
    font-family: "Luckiest Guy"
}

#player-label{
    position: absolute;
    top: 10px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 10px;
    right: -30px;
}

.result {
    font-size: 30px;
    color; white;
    font-family: "Luckiest Guy";
}

.result > p {
    text-align: center;
    font-weight: bold;
    color: white
}

.choices {
    margin: 40px 0;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 8px;
    display: inline-block;
    transition: all 0.5s; ease;
}

.choice:hover {
    cursor: pointer;
    background: rgb(23, 98, 173);
}

#action-message {
    text-align: center;
    color: white;
    font-family: "Luckiest Guy";
    font-size: 20px;
}