/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(49, 49, 49);
}

h1 {
    font-size: 15rem;
    font-family: Montserrat;
}


.letter{
    transition: color 1000ms;
} */

<link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Rubik+Puddles&display=swap" rel="stylesheet">
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 217, 121);

}

header {    
    background: white;
    padding: 20px;
}
header > h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 44px;
    padding: 15px 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.badge {
    background-color: rgb(210, 106, 85);
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Player-Label{
    position: absolute;
    top: 10px;
    left: -25px;
}

#Computer-Label{
    position: absolute;
    top: 10px;
    right: -30px;
}

